@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/darcula";

/* You can add global styles to this file, and also import other style files */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee !important;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

/* custom-scrollbar */
.custom-scrollbar *::-webkit-scrollbar {
  width: 15px;
}

.custom-scrollbar *::-webkit-scrollbar-thumb {
  background-color: rgba(188, 188, 188, 0.7);
  border: 3px solid #282c34;
  border-radius: 8px;
}

.custom-scrollbar *::-webkit-scrollbar-thumb:hover {
  background-color: rgba(188, 188, 188, 1);
}

/* for custom cursors */

.custom-cursor {
  height: 4px;
  width: 1px;
  background-color: #a00000;
}

.CodeMirror {
  background-color: #282c34 !important;
  font-family: monospace !important;
  height: 650px;
  width: 1100px;
  margin: 0 auto;
}

.cm-content {
  background-color: red !important;
}

.cm-line {
  display: block;
  padding: 0 2px 0 0px !important;
}
